h1 {
  font-family: "Nanum Gothic Coding", monospace;
  font-size: 96px;
  font-weight: 700;
  line-height: 144px;
  text-align: center;
}
p {
  font-family: "Nanum Gothic Coding", monospace;
  font-size: 40px;
  text-align: center;
}
