body {
  font-family: "Nanum Gothic Coding", monospace;
  background-color: #3a4042;
  text-align: center;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/headerpic.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  justify-items: center;
  padding: 200px 0;
  opacity: 0.8;
}
h1 {
  font-size: 96px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 5px;
  margin: 30px 0;
}
h2 {
  font-size: 40px;
  line-height: 1.5;
}
h3 {
  font-size: 24px;
  font-weight: 900;
  line-height: 1.5;
  letter-spacing: 5px;
}
header a {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
  padding: 18px 32px;
  border-radius: 10px;
  margin-top: 36px;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 4px;
  background-color: lightgrey;
  text-decoration: none;
  color: #272044;
}
section {
  max-width: 1200px;
  margin: 0 auto;
}
footer {
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("/images/headerimg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  opacity: 0.8;
  padding: 80px 0;
}
footer h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}
footer li {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  list-style: none;
}
footer p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;

  margin-right: 18px;
}
footer a {
  color: white;
  opacity: 0.7;
}
@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }

  header h1 {
    font-size: 48px;
  }

  header h2 {
    font-size: 20px;
  }

  header h3 {
    font-size: 12px;
  }
}
